/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1e293b;
  color: #ffffff;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ipl-logo {
  height: 50px;
  width: 50px;
}
.teams-list {
  list-style-type: none;
}
