/* Write your CSS here */
.latest-match-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0f172a;
  background-color: 3px solid #a4261d;
  color: #ffffff;
}
